/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
 html{box-sizing:border-box;overflow-y:scroll;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:500}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted ButtonText}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}img{border-style:none}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}
 h1,h2,h3,h4,h5,h6 {font-weight:500;}



body, html {
	font-family:'mint','Helvetica Neue',Helvetica,sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-weight: normal;
	background-color:#000;
	color: #fff;
}

.letterkit_1280 {
	margin:0 auto;
	max-width:1280px;
}

.letterkit_wrapper {
	width:100%;
	display:grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 0;
}

header#letterkit_hero div.letterkit_wrapper {
	display: grid;
	height:90vh;
}

a {
	color: #fff;
	text-decoration: none;
}

p, li {
	font-weight:500;
	text-rendering: optimizeLegibility;
}

::selection {
	background: #fff;
	color: #000;
}

 ::-moz-selection {
	background: #fff;
	color: #000;
}

/**** HERO ****/

header#letterkit_hero {
	margin: 0 auto 5vh;
	height: 100vh;
	background-color: #000;
	z-index: 30;
	position: relative;
}

header#letterkit_hero h2, header#letterkit_hero h1 {
}

header#letterkit_hero h1 {
	font-family: 'Ballast',serif;
	line-height: 25vh;
	font-size: 17vw;
	line-height: 14.5vw;
	letter-spacing: -0.03rem;
	position: absolute;
	bottom: 0.5vw;
	left: 2.5vw;
}

header#letterkit_hero h1 > span {
	display: block;
}

header#letterkit_hero h1 > span:first-child {
	color: #3ba738;
	line-height: 14.5vw;
	margin-bottom: -2.5vw;
}

header#letterkit_hero h1 > span.blm {
	line-height: 19.5vw;
	margin-bottom: -2.5vw;
}

header#letterkit_hero h2 {
	position: absolute;
	top: 5vw;
	right: 3.5vw;
}

header#letterkit_hero h2 a {
	display: block;
	width: 22vw;
	height:20vh;
	background: transparent url('./A+D.svg') center top no-repeat;
	background-size:contain;
	color:transparent;
}

.start {
	padding-top: 1.5vh;
}




/****************************** NAV *********************************/

nav {
	position: fixed;
	bottom: -1px;
	width: 100vw;
	background: linear-gradient(to top, black 1%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
	padding: 3vw;
	text-align: center;
	z-index: 10;
}

nav a {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 1vw 3vw;
	box-shadow: 0 0 20px black;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	border-radius: 10vw;
}





/******************************* THE LETTER *******************************/

section#letterkit_info {
	background-color: #000;
	font-size: 2.5vw;
	line-height: 1.35;
	padding-left: 1rem;
	padding-right: 1rem;
	color: hsl(0, 0%, 100%);
}

section#letterkit_info .letterkit_wrapper {
	grid-template-columns: repeat(12,[pass-start] 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 0;
	padding-top: 15vh;
	padding-bottom: 20vh;
}

section#letterkit_info div {
	grid-column: pass-start 2 / span 10;
	grid-row: 2;
}

section#letterkit_info h3 {
	grid-column: pass-start / span 8;
	grid-row:1;
	margin-bottom: 5vh;
	font-weight: 900;
}

section#letterkit_info p.dateline {
	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: rgb(120,120,120);
}


section#letterkit_info p, .letterkit_bio_more p {
	margin-bottom: 5vh;
}

section#letterkit_info p:first-child, p.letterkit_bio_lede {
	text-indent: 0;
}

section#letterkit_info p.nameListItem {
	margin-bottom: 0;
	padding-left: 5vw;
	text-indent: -5vw;
}





/******************************* FOOTER *******************************/

section#letterkit_footer {
	background-color:#000;
	color:#fff;
	font-size: 2vw;
	z-index: 999;
	position: relative;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left:1rem;
	padding-right:1rem;
}

section#letterkit_footer div.letterkit_wrapper {
	display: grid;
	padding-top: 10vh;
	padding-bottom: 3vh;
	grid-template-columns: repeat(12,[pass-start] 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 0;
}

section#letterkit_footer div div div {
	grid-row: 1;
	grid-column: pass-start 2 / span 8;
	font-family: Ballast, serif;
	font-size: 9vw;
	line-height: 8vw;
	margin-bottom: 3vh;
}

section#letterkit_footer div div div a {
    display: block;
    text-decoration: underline;
    color: #3ba738;
    cursor: pointer;
}

section#letterkit_footer div div div a:hover {
	color:#fff;
}


section#letterkit_footer a.letterkit_series_logo {
	grid-row: 2;
	grid-column: pass-start 2 / span 3;
	padding-bottom: 5vh;
}

section#letterkit_footer a.letterkit_aboutlink {
	grid-row: 3;
	grid-column: pass-start 2 / span 10;
	border-top: 1px solid #ffffff5e;
	padding-top: 2vh;
	color: #3ba738;
	font-weight: bold;
}

section#letterkit_footer a.letterkit_sociallink {
	grid-row: 4;
	grid-column: pass-start 2 / span 10;
	color: #3ba738;
}










/*********************************** MEDIA QUERIES **************************************/


@media only screen and (max-width: 1280px) {
	

}


/* iPad Std/Mini/Pro: Portrait */

@media only screen 
	and (min-device-width: 739px) 
	and (max-device-width: 1025px) {
		
					
	section#letterkit_intro div.letterkit_wrapper, section#letterkit_artists div.letterkit_wrapper, section#letterkit_passes div.letterkit_wrapper { 
		padding-top: 3vh;
		padding-bottom: 5vh;
	}
	
	section#letterkit_intro div.letterkit_wrapper > div {
		margin-left: -2vw;
	}
	
	section#letterkit_footer div.letterkit_wrapper {
		padding-top:0;
	}
	
	section#letterkit_footer div div div {
		grid-column: pass-start / span 12;
		font-size: 18vw;
		line-height: 16vw;
	}
	
	
	
}

/* up to iPhone Plus: Portrait */
@media only screen 
	and (max-device-width: 738px) 
	and (orientation: portrait) { 

	.mobile_trim {display: none;}
	
	
	header#letterkit_hero {
		height:87.5vh;
	}
		
	header#letterkit_hero div.letterkit_wrapper {
		height: 99vh;
	}
	
	header#letterkit_hero h2 a {
		width: 50vw;
	}
	
	header#letterkit_hero h1 {
		font-size: 29vw;
		
	}
	
	header#letterkit_hero h1 > span:first-child {
		line-height: 25.5vw;
		margin-bottom: 0;
	}
	
	header#letterkit_hero h1 > span.blm {
		line-height: 25.5vw;
	}	
		
					
		
	section#letterkit_footer {
		font-size: 5vw;
	}
	
	section#letterkit_info div {
		grid-column: pass-start / span 12;
	}
		
	section#letterkit_info {
		font-size: 5vw;
	}
	
	section#letterkit_info p, .letterkit_bio_more p {
		margin-bottom: 2.5vh;
	}
	
	section#letterkit_info h3 {
		grid-column-start: pass-start;
	}
	
	section#letterkit_footer div.letterkit_wrapper {
		padding-top:0;
	}
	
	section#letterkit_footer div div div {
		grid-column: pass-start / span 12;
		font-size: 18vw;
		line-height: 16vw;
	}
	
	section#letterkit_footer a.letterkit_series_logo {
		grid-row: 2;
		grid-column: pass-start / span 6;
		padding-bottom: 3vh;
	}
	
	section#letterkit_footer a.letterkit_aboutlink {
		grid-row: 3;
		grid-column: pass-start / span 12;
	}
	
	section#letterkit_footer a.letterkit_sociallink {
		grid-row: 4;
		grid-column: pass-start / span 12;
	}
		
}

/* Ginormous Screens */
@media only screen and (min-width : 2100px) {

	header#letterkit_hero, header#letterkit_hero div.letterkit_wrapper {
		height: 120vh;
	}
		
	ul.sprockets li>span {
		font-size: 1.35vw;
	}
	
	#letterkit_hero div.letterkit_img_caption {
		font-size: 1vw;
	}
	
	section#letterkit_intro {
		font-size: 2vw;
	}
	
	section#letterkit_intro div.letterkit_wrapper>div {
		margin-left: -0.5vw;
	}
	
	section#letterkit_artists {
		font-size: 1.35vw;
	}
	
	section#letterkit_artists li {
		padding-bottom: 1.5vh;
	}
	
	section#letterkit_passes div.letterkit_1280 div.letterkit_wrapper h3, section#letterkit_passes div.letterkit_1280 div.letterkit_wrapper p {
		font-size: 2vw;
	}
	
	section#letterkit_passes {
		font-size: 1.35vw;
	}
	
	#letterkit_hero hr, #letterkit_passes hr {
		width: 200vw;
		left: calc(0% - 50vw);
	}
	
	section#letterkit_footer {
		font-size: 1.125vw;
	}
	
	nav#letterkit_cling a {
		font-size: 1.35vw;
	}
	
	section#letterkit_programs div#letterkit_programs_navbar, .width_tmp_select {
		font-size: 2vw;
	}
	
	div.letterkit_programs_more_picker {
		font-size:1.35vw;
	}
	figure.letterkit_card {
		font-size: 1.35vw;
		letter-spacing: -0.0125em;
	}
	
	section#letterkit_bxo, section#letterkit_info {
		font-size:1.35vw
	}
	
	section#letterkit_bxo p:first-child, section#letterkit_bxo h3 {
		font-size:2vw;
	}
	
	section#letterkit_bxo .bxo_hours.before_festival {
	}
	
	section#letterkit_faq h3, section#letterkit_sponsorship h3, section#letterkit_faq h4, section#letterkit_sponsorship h4 {
		font-size: 2vw;
	}
	
	#letterkit_faq dl, section#letterkit_sponsorship dl {
		font-size:1.35vw;
	}
		
	

}



@media only screen and (min-width : 2900px) {

	section#letterkit_intro div.letterkit_wrapper>div {
		margin-left: -1.35vw;
		margin-top: 5vh;
	}
	
	section#letterkit_artists h3 {
		grid-column: col-start / span 8;
	}
	
	ul.letterkit_left_list {
		grid-column: col-start/span 5;
	}
	
	ul.letterkit_right_list {
		grid-column: col-start 6 / span 5;
	}
	
	section#letterkit_passes div.letterkit_1280 div.letterkit_wrapper h3 {
		grid-column: pass-start 1/span 8;
	}
	
	section#letterkit_passes div.letterkit_1280 div.letterkit_wrapper p {
		grid-column: pass-start /span 10;
	}
	
	

}
