@font-face {
  font-family: "Mint";
  font-style: normal;
  font-weight: 400;
  src: url('./mint/mint-Regular.eot');
  src: url('./mint/mint-Regular.eot?#iefix') format('embedded-opentype'),
       url('./mint/mint-Regular.woff') format('woff'),
       url('./mint/mint-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "Mint";
  font-style: normal;
  font-weight: 600;
  src: url('./mint/mint-Bold.eot');
  src: url('./mint/mint-Bold.eot?#iefix') format('embedded-opentype'),
       url('./mint/mint-Bold.woff') format('woff'),
       url('./mint/mint-Bold.woff2') format('woff2');
}

@font-face {
  font-family: "Ballast";
  font-style: normal;
  font-weight: 500;
  src: url('./ballast/Ballast_v0_1-CondensedBold.woff') format('woff'),
       url('./ballast/Ballast_v0_1-CondensedBold.woff2') format('woff2');
}