/* XYZ Type */
/* Sample CSS for Ballast v0.1*/
​

@font-face {
  font-family: 'Ballast';
  src: url('Ballast_v0_1-CondensedBold.woff2') format('woff2'),
  url('Ballast_v0_1-CondensedBold.woff') format('woff');
  font-weight: 700;
}

.ballast {
  font-family:'Ballast';
  font-weight:700;
  font-kerning: normal;
  font-feature-settings: "calt";
}
